#sample_left {

}

#sample_right {
  position: absolute;
  left: 450px;
  top: 60px;
}

#dropbox {
  margin: 20px 0px;
}

#localfile {
  &:hover, &.dragover {
    background: pink;
  }
}

.sample_data_name {
  width: 350px;
}

.sample_data_where {
  width: 80px;
}

.sample_data_edit {
  width: 60px;
}

#sample_graph_wrapper {
  width: 400px;
  height: 300px;
  padding: 0;
}
svg#sample_graph {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#type_samples .exp_date {
  margin-left: 5px;
}

#samplenote {
  background: #dddddd;
  border-radius: 3px;
}